<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ProductionPlanCreate</servlet-name>
        <servlet-class>controller.ProductionPlanCreate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductionPlanDetail</servlet-name>
        <servlet-class>controller.ProductionPlanDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductionPlanList</servlet-name>
        <servlet-class>controller.ProductionPlanList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WorkCreate</servlet-name>
        <servlet-class>controller.WorkCreate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WorkAttendent</servlet-name>
        <servlet-class>controller.WorkAttendent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.accesscontrol.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductionPlanDelete</servlet-name>
        <servlet-class>controller.ProductionPlanDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductionPlanUpdate</servlet-name>
        <servlet-class>controller.ProductionPlanUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductionPlanDetailDelete</servlet-name>
        <servlet-class>controller.ProductionPlanDetailDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductionPlanDetailUpdate</servlet-name>
        <servlet-class>controller.ProductionPlanDetailUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WorkList</servlet-name>
        <servlet-class>controller.WorkList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WorkDelete</servlet-name>
        <servlet-class>controller.WorkDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WorkUpdate</servlet-name>
        <servlet-class>controller.WorkUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WorkAttendentDelete</servlet-name>
        <servlet-class>controller.WorkAttendentDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WorkAttendentUpdate</servlet-name>
        <servlet-class>controller.WorkAttendentUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeSalary</servlet-name>
        <servlet-class>controller.EmployeeSalary</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.accesscontrol.LogoutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductionPlanCreate</servlet-name>
        <url-pattern>/productionplan/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductionPlanDetail</servlet-name>
        <url-pattern>/productionplan/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductionPlanList</servlet-name>
        <url-pattern>/productionplan/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WorkCreate</servlet-name>
        <url-pattern>/work/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WorkAttendent</servlet-name>
        <url-pattern>/work/attendent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductionPlanDelete</servlet-name>
        <url-pattern>/productionplan/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductionPlanUpdate</servlet-name>
        <url-pattern>/productionplan/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductionPlanDetailDelete</servlet-name>
        <url-pattern>/productionplan/detail/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductionPlanDetailUpdate</servlet-name>
        <url-pattern>/productionplan/detail/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WorkList</servlet-name>
        <url-pattern>/work/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WorkDelete</servlet-name>
        <url-pattern>/work/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WorkUpdate</servlet-name>
        <url-pattern>/work/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WorkAttendentDelete</servlet-name>
        <url-pattern>/work/attendent/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WorkAttendentUpdate</servlet-name>
        <url-pattern>/work/attendent/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeSalary</servlet-name>
        <url-pattern>/Employee/salary</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
</web-app>
